<p id="notice"><%= notice %></p>

<p class="whiten">
  <strong>Name:</strong>
  <%= @creature.name %>
</p>

<p class="whiten">
  <strong>Description:</strong>
  <%= @creature.description %>
</p>

<button class="btn btn-primary btn-xs glyphicon glyphicon-pencil pull-left"><%= link_to 'Edit', edit_creature_path(@creature) %></button> |
<button class="btn btn-primary btn-xs glyphicon glyphicon-chevron-left pull-left"><%= link_to 'Back', creatures_path %></button>

